h1 {
  font-size: 3em;
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #d70c23, #264adb);
  text-align: center;
  padding: 0.3em;
  margin-top: 0%;
  margin-bottom: 0%;
}
body {
  background-color:#1f2039;
  margin: auto;
}
header img {
  width: 100%;   /* L'image prendra toute la largeur de l'écran */
  height: 20em;  /* Garde les proportions de l'image */
  display: block; /* Évite les espaces indésirables sous l'image */
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /*Aligner les elements sur toutes la largeur tout en gardant un peu d'espece*/
  flex-wrap: wrap;
  /* gap: 10px; */
}

article {
  margin: 20px;
  color: red;
  font-size: 1.3em;
  text-align: center;
  font-family: "Alegreya Sans", serif;
  font-weight: 500;
  font-style: normal;

}
nav {
  text-align: right;
  background: linear-gradient(90deg, #d70c23, #264adb);
}
article:hover {
  color: #072dc5;
  text-decoration: underline;
}
.info {
  background-color: rgb(129, 166, 230);
  width: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 38%;
  color: white;
}

button img {
  width: 30px;
  height: 30px;
}
input {
  padding: 10px;
  border: 1px solid black;
}

.shape:hover{
  background: linear-gradient(#d3cfe6, #a2c1ae);
}
.shape {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.bend {
  border-radius: 10px;
  width: 40em;
}

.button {
  width: 30%;
  margin: auto;
  background-color: rgba(56, 49, 49, 0.942);
  color: rgb(45, 45, 169);
  border-radius: 12px;
}

.faqs {
  color: rgba(52, 160, 196, 0.873);
  text-align: left;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}
h2 {
  font-family: 'Manrope', sans-serif;
}