header {
    background-color: #8a307f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

nav ul a{
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    gap: 2em;
    color: white;
    margin-left: 1em;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    background-color: #b3ababb9;
    width: fit-content;
    border-radius: 2em;
    margin: auto;
}
img {
    width: 20em;
    height: 15em;
}

.log {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-bottom: 3em;
}
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    width: 100%;
}
button {
    width: 10em;
    height: 3em;
    font-size: 1.5em;
    border: 2px solid white;
    color: white;
    border-radius: 1em;
    background-color: #6883bc;
}

button:hover {
    background-color: white;
    color: #6883bc;
}

.click:active {
    background-color: white;
    color: #6883bc;
}

.new-size {
    width: 30em !important;
    height: auto;
}

.none {
    display: none !important;
}